
mesh/**/*.ply
mesh/**/*.obj
mesh/**/*.mtl
mesh/**/*.jpg
mesh/**/*.png
mesh/**/*.bmp
mesh/vcg/problematic/nabu/*

papers/

meshinfo/**
!meshinfo/*.cpp
!meshinfo/*.h
!meshinfo/*.pro

repack/**
!repack/*.cpp
!repack/*.h
!repack/*.pro

triangle/**

viewer/**
!viewer/*.cpp
!viewer/*.h
!viewer/*.pro
!viewer/readme.txt

transfer/**
!transfer/*.cpp
!transfer/*.h
!transfer/*.pro

*.user
build-*

