
mesh/**/*.ply
mesh/**/*.obj
mesh/**/*.mtl
mesh/**/*.jpg
mesh/**/*.png
mesh/**/*.bmp
mesh/vcg/problematic/nabu/*

papers/

pinfo/**
!pinfo/*.cpp
!pinfo/*.h
!pinfo/*.pro

texdefrag/**
!texdefrag/*.cpp
!texdefrag/*.h
!texdefrag/*.pro

